KEYCLOAK_ADMIN=keycloak
KEYCLOAK_ADMIN_PASSWORD=keycloak
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=postgres
KEYCLOAK_DB_PASSWORD=keycloak-db-pass
KC_HOSTNAME= https://keycloak.example.com
KC_HOSTNAME_ADMIN = https://keycloak.example.com

FORGEJO_DOMAIN=example.com
FORGEJO_ROOT_URL=https://git.example.com
FORGEJO_APP_NAME=Infra Template Forgejo
FORGEJO_FROM=noreply@example.com
FORGEJO_SMTP_ADDR=mail.example.com
FORGEJO_MAIL_USER=noreply@example.com
FORGEJO_MAIL_PASSWORD=support
FORGEJO_DB_NAME=forgejo
FORGEJO_DB_USER=postgres
FORGEJO_DB_PASSWORD=forgejo-db-pass
FORGEJO_INSTANCE_URL=https://git.example.com
FORGEJO_RUNNER_TOKEN=replace_with_your_runner_token_and_restart
FORGEJO_RUNNER_NAME=infra-template-runner
FORGEJO_RUNNER_LABELS=docker:docker://ghcr.io/catthehacker/ubuntu:act-latest
FORGEJO_SSH_DOMAIN=git.example.com

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio
MINIO_BUCKET=infra-bucket

MAIL_HOSTNAME=mail.example.com
LETSENCRYPT_EMAIL=johndoe@gmail.com

BACKUP_CRON_SCHEDULE=-0 2 * * *

LDAP_ORGANISATION=Infra Template
LDAP_DOMAIN=example.com
LDAP_ADMIN_PASSWORD=adminpassword
LDAP_SERVER=ldaps://ldap.example.com:636
LDAP_BASE_DN=dc=ldap,dc=example,dc=com
LDAP_ADMIN_DN=cn=admin,dc=ldap,dc=example,dc=com

CONSOLE_PBKDF_PASSPHRASE=some_random_passphrase
CONSOLE_PBKDF_SALT=some_random_salt_value
